
body{
    background-color : #1c1b21 !important;
}
hr{
  background: #333333;
}

.hi_logo_text{
  max-width: 450px;
  width: 65%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hi_info{
  margin-top: 10px;
  padding-left:5px;
  padding-bottom: 12px;
  padding-top: 10px;
  margin-bottom: 30px;
  height: auto;
  color:#d9d9d9;
}

.hi_bullets{
  margin-left: 20px;
  line-height: 30px;
}

.hi_card{
cursor: pointer;
background: #121212 !important;
color:#cccccc !important;
}

.hi_card_link{
  color: #8cb3d9;
  font-size: 15px;
}

.hi_issue--color{
  color: #538cc6;
}

.hi_arrow--color{
  color: #538cc6;
}

.hi_card--margin-top{
  margin-top: 2%;
}

.hi_no_select {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}