<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_CLIPBOARD" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:fullBackupContent="false"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher_genesis"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/gx_network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <receiver android:name="com.widget.search.searchWidgetManager">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/search_widget_manager_info" />
        </receiver>

        <activity
            android:name="com.darkweb.genesissearchengine.appManager.orbotManager.orbotController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.proxyStatusManager.proxyStatusController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.settingManager.settingHomeManager.settingHomeController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:label="@string/SETTING_HEADER"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.historyManager.historyController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.bookmarkManager.bookmarkController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.languageManager.languageController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:label="@string/SETTING_HEADER"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.helpManager.helpController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:label="@string/SETTING_HEADER"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.settingManager.accessibilityManager.settingAccessibilityController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:label="@string/SETTING_HEADER"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.settingManager.clearManager.settingClearController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:label="@string/SETTING_HEADER"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.bridgeManager.bridgeController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.settingManager.notificationManager.settingNotificationController"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.settingManager.privacyManager.settingPrivacyController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.settingManager.logManager.settingLogController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.settingManager.advanceManager.settingAdvanceController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.orbotLogManager.orbotLogController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.settingManager.generalManager.settingGeneralController"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.settingManager.searchEngineManager.settingSearchController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.landingManager.landingController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.settingManager.trackingManager.settingTrackingController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.homeManager.homeController.homeController"
            android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenSize|locale|layoutDirection|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.darkweb.genesissearchengine.appManager.homeManager.FakeLauncherActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.darkweb.genesissearchengine.appManager.externalCommandManager.externalShortcutController"
            android:launchMode="singleTop"/>

        <activity android:name="com.darkweb.genesissearchengine.appManager.externalCommandManager.externalURLNavigationContoller"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- Services & Settings -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="be76c64dae2519d4ab8daaed88298da14c7c294f" />

        <!-- Live Build -->
        <!-- --> <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6985886044951738~4671482729" />


        <!-- Development Build -->
        <!-- <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6985886044951738~4177628900" /> -->

        <service
            android:name="com.darkweb.genesissearchengine.pluginManager.downloadPluginManager.downloadService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true" />
        <service
            android:name="com.darkweb.genesissearchengine.appManager.activityStateManager"
            android:stopWithTask="true" />

        <receiver android:name="com.darkweb.genesissearchengine.pluginManager.notificationPluginManager.localEngagementManager" />
        <receiver
            android:name="com.darkweb.genesissearchengine.pluginManager.pluginReciever.downloadNotificationReciever"
            android:exported="false">
            <intent-filter>
                <action android:name="Download_Cancelled" />
            </intent-filter>
        </receiver>

        <!-- Permissions File Provider Live
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.darkweb.genesissearchengine.production.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:authorities="com.darkweb.genesissearchengine.production.provider"
            android:name="com.darkweb.genesissearchengine.libs.clientauth.ClientAuthContentProvider"
            android:exported="false"/>
        -->

        <!-- Permissions File Provider Dev -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.darkweb.genesissearchengine.production.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:authorities="com.darkweb.genesissearchengine.production.provider"
            android:name="com.darkweb.genesissearchengine.libs.clientauth.ClientAuthContentProvider"
            android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <service
            android:name="org.torproject.android.proxy.OrbotService"
            android:enabled="true"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>


    </application>

</manifest>