a {
   text-decoration:none !important;
   color: #ffffff !important;
}
body{
    opacity: 0;
    transition: opacity 0s;
    -webkit-transition: opacity 0s; /* Safari */
}

.body_fadein {
    opacity: 1;
    transition-duration: 0.5s;
    transition-property: opacity;
}
.home
{
	margin-left: -2px;
	min-height: auto;
}
.home__logo{
	max-width: 500px;
	width: 90%;
	height: auto;
	display: block;
	margin: 5% auto 10px;
}
.home__searchbox{
	border-radius: 6px;
	height:42px;
	outline: none;
	border-color: #e7e7e7;
	width:97.9%;
    max-width: 575px;
	display:block;
	font:16px arial,sans-serif;
	color: black;
	padding-left:13px;
	box-shadow: 0 1px 1px 0 #e6e6e6;
	-moz-transition: .0s;
	transition: .0s;
	margin: 20px auto 5px;
}
.home__searchbox:hover {
	box-shadow: 0 4.5px 4.5px -1.5px #e6e6e6;
	-moz-transition: .07s linear 0s;
	transition: .07s linear 0s
}
.home__searchbox:focus{
	box-shadow: 0 4.5px 4.5px -1.5px #e6e6e6;
	-moz-transition: .07s linear 0s;
	transition: .07s linear 0s
}
.home__search-button-container{
	display:block;
	text-align: center;
	width: 43%;
	margin: 30px auto 0;
}
.home__search-button{
	margin-top: 12px;
	height: 40px;
	width:110%;
	text-align:center;
    max-width: 130px;
	border-radius: 6px;
	border-width: 0;
	color:#6c6c6c;
	font-size: 15px;
	background-color:#f5f5f5;
}
.search-content__info-danger{
	box-shadow: 0 4px 4px -1.5px #1a1a1a;
	background: #333333;
	padding: 20px;
	height: auto;
	margin: 0;
	border-radius: 7px 7px 7px 7px;
}
.search-content__info-danger-header{
	color: orange;
	width: 100%;
	line-height: 30px;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
}
.search-content__info-danger-body{
	color: #ffffff;
	text-align: left;
}
.search-content__button-container{
	width: 99%;
	margin: 10px auto auto;
}
.search-content__button{
	box-shadow: 0 4px 4px -1.5px #1a1a1a !important;
	background: #333333 !important;
	color: #ffffff !important;;
	border: 0 !important;;
	font-weight: bold !important;;
	font-size: 14px !important;;
	border-radius: 7px !important;;
	width: 100% !important;;
	height: 50px !important;;
	display:block !important;;
}
.search-content__button--margin-auto{
	margin: 0 auto;
}
.search-content__button--margin-top{
	margin: 10px auto 5px;
}
.home__search-button:hover{
    background: linear-gradient(#f7f7f7,#f1f1f1);
	border-width: 1px;
	border-color:#C4C4C4;
	border-style: solid;
	cursor:pointer;
}
.home__search-button--right-spacing{
	margin-left: 10px;
}
.home__search-button--lucky-visibility {
	visibility: visible;
}
.home__search-button--left-spacing{
	margin-left: 5px;
}
.home__line-style {
	display: none;
	margin-bottom: 20px;
}
.home__reference_links{
    color:#bfbfbf;
    text-align: center;
    font-size: 13.5px;
    max-width: 460px;
    font-weight: bold;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding-top: 14px;
    padding-bottom: 14px;
	margin: 10px auto 50px;
	width: 89%;
}
.home__reference_container{
	margin-top: 40px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
.home__reference_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.home__reference{
	align-self: center;
	height:180px;
	padding: 10px 0 0;
	border-radius: 8px;
	outline: none;
    border: 1px solid #f0f0f0;
	box-shadow: 0 3px 3px 0 #cccccc;
	width:88.6%;
    max-width: 575px;
	display:block;
	font:16px arial,sans-serif;
	color: black;
	margin: -15px auto 45px;
	margin-left:21.5px;
	border-bottom: 6px solid #f9f9f9;
	background: #f9f9f9;
}
.home__reference:hover{
	animation-name: home__reference-animate-hover;
	animation-duration: 4s;
   	animation-fill-mode: forwards;
	transition: border-bottom-color 0.25s ease-in-out;
	border-bottom: 6px solid #548ec4;
}
@keyframes home__reference-animate-hover {
  10% {
	  background-color: #f0f4fa;
  }
  100% {
	  background-color: #f0f4fa;
  }
}
.home__reference--header{
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	cursor: pointer;
	width: auto;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	float: left;
	margin-top: 10px;
	border-left: 6px solid #a0c0de;
	background-color: #b3cde5;
	margin-left: -1px;
	display: flex;
	padding: 10.5px 20px 10.5px 10px;
}
.home__reference_info{
	margin-left: 15px;
	margin-right: 15px;
	line-height: 18px;
	color: #8c8c8c;
	font-size: 13.5px ;
	margin-top: 60px;
}
.home__reference-image-container{
    width: 28px;
    height: 28px;
	border-radius: 5px;
	align-content: center;
	background: #e6e6e6;
	margin-left: 15px;
	float: left;
}
.home__reference-image{
    width: 22px;
    width: 22px;
	margin-top: 3px;
	margin-left: 3px;
	border-radius: 3px;
	font-size: 16px;
	color: darkgray;
	float: left;
}
.home__reference-status{
	margin-left: 25px;
	margin-right: 15px;
	line-height: 18px;
	color: #8c8c8c;
	font-size: 14px;
	padding-top: 4px;
	padding-left: 30px;
}

.home__reference-status--color{
	color: forestgreen;
}

@media only screen and (max-width: 1743px) {
	.home__reference_container{
		width: 80%;
	}
	.home__reference_wrapper {
	  grid-template-columns: repeat(2, 1fr);
	}
	.home__reference{
		height: 200px;
	}
}


@media only screen and (max-width: 943px) {
	.home
	{
		min-height: 100%;
	}
    .home__search-container {
		padding: 0 20px 10px;
	}
	.home__searchbox {
		margin-top: 30px;
		border-bottom: 3px solid #ffe0b3;
    }
	.home__search-button-container{
		visibility: hidden;
		height: 0;
		width: 0;
		margin-bottom: -40px;
	}
    .home__search-button {
		visibility: hidden;
    }
	.home__line-style{
	  	border: 0;
	  	display: block;
	  	width:auto;
		height: 4px;
		background: orange;
        margin: 0 43% 20px;
        margin-bottom: 30px;
	}
    .home__reference_links{
        margin-top: 0 !important;
    }
	.home__reference_container{
		margin-top: 40px;
		width: 100%;
	}
	.home__reference_wrapper {
	 	display: grid;
	  	grid-template-columns: repeat(1, 1fr);
	  	gap: 10px;
	}
	.home__reference{
		margin-top: -20px;
		height:auto;
	}
}
.hi_loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid ;
  width: 30px;
  float: left;
  margin-top: 0px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.hi_loader_item{
	height:10px;
	border-width:0;
	color:gray;
	background-color:#e6e6e6;
}

line-style
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.show {
  opacity: 1;
  transition: opacity 500ms;
}

.hide {
  opacity: 0;
  transition: opacity 350ms;
}
.hi_container_size
{
    min-height: 100% !important;
}

@media only screen and (max-width: 943px) {
    .hi_container_size {
    }
}
.hi_reference{
	align-self: center;
	height:auto;
	padding: 10px;
	padding-bottom: 0px;
	border-radius: 6px;
	outline: none;

    border: 1px solid #e6e6e6;
	box-shadow: 0 3px 3px 0 #d9d9d9;
	width:91% !important;
    max-width: 575px;
	display:block;
	font:16px arial,sans-serif;
	color: #79a6d2;
	margin: 0 auto 0px;
	margin-top: -15px;
	margin-bottom: 35px;

	-webkit-transition: .0s;
	-moz-transition: .0s;
	-o-transition: .0s;
	transition: .0s;
}