/* General */
.sidebar__menu{
    display: none;
    background:#fcfcfc;
    width: 100%;
    height: 50px;
    padding-top: 0.2em;
    border-bottom: 1px solid #ebebeb;
}
.sidebar_sidebar-header{
    float: right;
    padding-top: 9px;
}
.sidebar__catagory{
    margin-right: 10px;
    cursor: pointer;
    font-size: 0.90em;
    padding: 15px 10px 10px;
	border-bottom: 4px solid #fcfcfc;
}
.sidebar__catagory:hover{
    text-decoration: none;
	animation-name: sidebar__catagory_animate_hover;
	animation-duration: 2s;
	border-bottom: 4px solid #548ec4;
	transition: border-bottom-color 0.25s ease-in-out;
    -webkit-animation-fill-mode: forwards;
}
@keyframes sidebar__catagory_animate_hover {
  10% {
    background: #f0f0f0;
    color: #336699;
  }
  100% {
    background: #f0f0f0;
    color: #336699;
  }
}
.sidebar__catagory--general{
    color: #999999;
    margin-right: 4px !important;
}
.sidebar__vertical-line {
  border-left: 1px solid #e6e6e6;
  height: 25px;
  margin-bottom: -8px;
  margin-right: 5px;
}
.sidebar__catagory--highlight{
    color: #00689D;
    margin-right: 10px !important;
    margin-top: 100px !important;
}
.sidebar__menu-icon {
    padding: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;

    z-index: 100;
    color: black;
    font-size: 22px;
    cursor: pointer;
    float: left;
    display: none;
    margin-left: 11px !important;
}

.sidebar__menu-icon:hover{
    border-radius: 5px;
    animation-name: sidebar__menu-icon-hover;
    animation-duration: 3s;
}
@keyframes sidebar__menu-icon-hover {
    3% {
        background: #ebebeb;
    }
    14% {
        background: #ffffff;
    }
}
.sidebar__navigation{
    width: 100%;
    text-align: center;
}

.sidebar__navigation a{
    display: block;
    padding: 15px 0;
    color: #FFFFFF;
}

.sidebar__navigation li:last-child a{
    border-bottom: none;
}
.sidebar__list {
    padding-right: 35%;
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    overflow-x: hidden;
    background: none;
    overflow-y: auto;
    text-align:justify;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
}
.sidebar__close{
    position: absolute;
    width: 38%;
    height: 100%;
    right: 0;
    color: white;
    top: 0;
    cursor: auto;
    background: none;
    border: none;
}
.sidebar__menu-container{
    background: #204060;
    padding-right: 10px;
    min-height: 100%;
    padding-bottom: 20px;
    max-width: 270px;
    width: 100%;
    box-shadow: 0 8px 8px 0 #cccccc;
    scrollbar-width: none;
    height: 150px;
    overflow-y: scroll;
}
.sidebar__button{
    width: 10px;
    height: 10px;
    position: relative;
    top:-52px;
    left:92%;
}
.sidebar__list-logo{
    max-width: 190px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: 10px;
    pointer-events: none;
}
.sidebar__list-icon{
    width: 30px;
    margin-right: 5px;
    margin-left: 20px;
    text-align: left;
}
.sidebar__list-info{
    text-decoration: none !important;
    background: #1d3b58;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: left;
    display: inline-block;
    line-height: 4px;
    margin: 2px auto auto;
    font-weight: bold;
    font-size: 13.5px;
    width: 85%;
    font-family:  Roboto,Helvetica Neue,Arial,sans-serif;
    border-radius: 7px;
}
.sidebar__list-info--color{
    color: #9fc0df !important;
}

.sidebar__line-divider{
    background: #1d3b58;
    border: 0;
    display: block;
    width:auto;
    height: 2px;
    margin-left: 45px;
    margin-right: 50px;
}
.sidebar__list-icon--padding{
    padding-left: 3px;
}

/* ID Triggers */

#sidebar__menu-toggle {
    display: none;
}

#sidebar__menu-toggle:checked ~ .sidebar__list {
    position: fixed;
    left: 0;
}

#sidebar__menu-toggle-mobile:hover ~ .sidebar__list {
    position: fixed;
    left: 0;
}

#sidebar__menu-toggle:checked ~ .mainarea {
    position: fixed;
    left: 100%;
}
#sidebar__menu-toggle:checked ~ .sidebar__menu-icon {
    position: fixed;
}

#sidebar__menu-toggle-mobile {
    display: none;
}


#sidebar__menu-toggle-mobile:checked ~ .mainarea {
    position: fixed;
    left: 100%;
}
#sidebar__menu-toggle-mobile:checked ~ .sidebar__menu-icon {
    position: fixed;
}
.sidebar__list{
    display: none;
    z-index: 100;
}

/* Mobile View */
@media only screen and (max-width: 943px) {
    .sidebar__menu-icon{
        display: block;
        margin-top: -41px;
        margin-bottom: 7vh;
        margin-right: 5px;
    }
    .sidebar__list{
        display: block;
    }
    .sidebar__menu{
        display: block;
    }
}
