/*footer-bar style*/
.footer {
    margin-top: 40vh;
}

.footer__footer-bar{
    background-color:#1f1e25;
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-color:#131216;
    border-bottom-width: 0;
    width:100%;
    padding-top:17px;
    padding-bottom:17px;
}

.footer__footer-bar--border-bottom {
    border-bottom-width: 1px;
}

.footer__footer-bar--text-bottom{
    color:#767676;
    font-size: 13px;
    text-align:left;
}

.footer__footer-bar__footer-bar-bottom{
    background-color:#1f1e25;
    border-bottom: 1px solid #131216;
    width:100%;
    padding-top:17px;
    padding-bottom:17px;
}

.footer__footer-bar-social{
    margin-left: 40px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.footer__footer-bar-social:hover{
    color: #264d73;
}

.footer__footer-bar-social--left{
    margin-left: 30px;
}

.footer__footer-bar__footer-bar-mid{
    background-color:#1f1e25;
    border-bottom: 1px solid #131216;
    width:100%;
    padding-top:17px;
    padding-bottom:17px;
}

.footer__catagories--general{
    padding: 15px 15px 14px;
}

.footer__catagories--general:hover{
    text-decoration: none;
    border-bottom: 4px solid white;
    animation-name: footer__catagories--border-animate;
    color: white;
}

.footer__catagories--general:focus {
    color: white;
    text-decoration: none;
    border-bottom: 4px solid white;
}

.footer__catagories{
    cursor: pointer;
    color:white;
    font-size: 14px;
}

.footer__catagories{
    cursor: pointer;
    color:white;
    font-size: 14px;
    font-weight: 500;
    font-family: arial,sans-serif;
}

/*footer-bar events*/

.footer__catagories:hover{
}

.footer__catagories--main:hover{
    color: white;
    text-decoration: none;
    border-bottom: 4px solid white;
}

.footer__catagories--main:focus {
    color: white;
    text-decoration: none;
    border-bottom: 4px solid white;
}

.footer__catagories--main{
    color: white;
    margin-left: 15px;
    padding: 15px 13px 14px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 943px) {
    .footer {
        display: none;
    }
}
